{% extends 'shop/base.html' %}
{% block title %}Orders{% endblock %}
{% block content %}
  <h1>Orders</h1>
  <ul>
        {% for order in orders %}
            <li>
                Order ID: {{ order.order_id }}<br>
                Amount: ${{ order.amount }}<br>
                Time: {{ order.time }}<br>
                <ul>
                    {% for item in order.items %}
                        <li>
                            Item: {{ item.item_name }}<br>
                            Unit: {{ item.unit }}<br>
                            Price: ${{ item.price }}<br>
                        </li>
                    {% endfor %}
                </ul>
                <hr>
            </li>
        {% endfor %}
    </ul>
{% endblock %}